---
layout: layout
---

<section class="content">
  <title>{{ page.title }}</title>
  <section class="byline">
  	<p id='title'>
    {{ page.title }}
  	</p>
    {{ page.date | date: "%B %e, %Y" }}
    <br><br>
    
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
   <g:plusone size='medium'></g:plusone>
    <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
</section>

  {{ content }}

</section>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ad1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8145077170777893"
     data-ad-slot="3045223964"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

